NOC_CLICKHOUSE_RO_ADDRESSES=clickhouse:8123
NOC_CLICKHOUSE_RW_ADDRESSES=clickhouse:8123
NOC_CONFIG=env:///NOC
NOC_FEATURES_CONSUL_HEALTHCHECKS=true
NOC_FEATURES_SERVICE_REGISTRATION=true
NOC_MONGO_ADDRESSES=mongo:27017
NOC_MONGO_PASSWORD=noc
NOC_MONGO_USER=noc
NOC_NSQD_ADDRESSES=nsqd:4150
NOC_NSQD_HTTP_ADDRESSES=nsqd:4151
NOC_NSQLOOKUPD_ADDRESSES=nsqlookupd:4160
NOC_NSQLOOKUPD_HTTP_ADDRESSES=nsqlookupd:4161
NOC_PG_ADDRESSES=postgres:5432
NOC_PG_DB=noc
NOC_PG_PASSWORD=noc
NOC_PG_USER=noc
NOC_POOL=default
NOC_SELFMON_ENABLE_FM=true
NOC_SELFMON_ENABLE_INVENTORY=true
NOC_SELFMON_ENABLE_TASK=true
TZ=Europe/Moscow
LC_LANG="en_US.UTF-8"