NOC_CONFIG=env:///NOC
NOC_MONGO_ADDRESSES=mongo:27017
NOC_PG_ADDRESSES=postgres:5432
NOC_CLICKHOUSE_RW_ADDRESSES=clickhouse:8123
NOC_CLICKHOUSE_RO_ADDRESSES=clickhouse:8123
NOC_CUSTOMIZATION_CUSTOM_PATH=/opt/noc_custom
NOC_FEATURES_CONSUL_HEALTHCHECKS=true
NOC_FEATURES_SERVICE_REGISTRATION=true
NOC_PG_DB=noc
NOC_PG_PASSWORD=noc
NOC_PG_USER=noc
NOC_POOL=default
NOC_MONGO_USER=noc
NOC_MONGO_PASSWORD=noc
NOC_NSQD_ADDRESSES=nsqd:4150
NOC_NSQD_HTTP_ADDRESSES=nsqd:4151
NOC_NSQLOOKUPD_ADDRESSES=nsqlookupd:4160
NOC_NSQLOOKUPD_HTTP_ADDRESSES=nsqlookupd:4161
NOC_SELFMON_ENABLE_FM=true
NOC_SELFMON_ENABLE_INVENTORY=true
NOC_SELFMON_ENABLE_TASK=true
NOC_FEATURES_SENTRY=false
# setup Sentry DSN (Deprecated) http://<ip<:9000/settings/sentry/projects/<NAMEPROJECT>/keys/
# NOC_SENTRY_URL=http://6ab3d0b0702d44d0acee73298a5bb40f:43d1cb7adc1946488ac9bba1d5e0dc58@sentry:9000/2
TZ=Europe/Moscow
LC_LANG="en_US.UTF-8"
